<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./static/partials/head.ejs %>

    <% include ./static/partials/baseScripts.ejs %>
   
    
  </head>
  <body class="container">

      <!-- Navigation -->
      <% include ./static/partials/navbar.ejs %>
    <header>
      <h1>Isomorphic React Example</h1>
    </header>
    <section id="content"><%- content %></section>

        <!-- Page Features -->
        <!-- <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">See the most active topics as well as trending subjects every day!</p>
          </section>

        </section> -->
        <!-- /.row -->

        


      <!-- /.container -->

      

    </body>
</html>