<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4" style="background-color:khaki">
          <h1 class="display-3">Welcome to the Book Table</h1>
          <p class="lead">A web based way to buy books and curriculum. Come get equipped!</p>
          <a href="/shop" class="btn btn-primary btn-lg">Shop</a>
        </header>

        <!-- Page Features -->
        <!-- <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">See the most active topics as well as trending subjects every day!</p>
          </section>

        </section> -->
        <!-- /.row -->

      </main>
      <% if(!currentUser) { %> 
      <div class="container">
         <div class="row">
            <div class="col text-center">
                  <a href="/users/sign_in" class="btn btn-primary btn-sm">Admin Sign In</a>
            </div>
         </div>
      </div>
      <% } %>
      <% if(currentUser && currentUser.isAdmin()) { %> 
      <div class="container">
         <div class="row">
            <div class="col text-center">
                  <a href="/users/sign_out" class="btn btn-primary btn-sm">Admin Log Out</a>
            </div>
         </div>
      </div>
      <% } %>

      <!-- /.container -->

     
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>