<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>New Item for Book Table</h1>
      <form action="/admin/books/create" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <textarea rows="1" class="form-control" name="author" placeholder="Enter Author"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Description (Can be copy and pasted from another site, but keep it short! Under 500 characters)
            </label>
            <textarea rows="3" class="form-control" name="description" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
           <label for="genre">Genre</label>
           <select class="custom-select mr-sm-2" name="genre">
              <option selected>Choose...</option>
              <option value="Apologetics">Apologetics</option>
              <option value="Basic">Basic</option>
              <option value="Biographies">Biographies</option>
              <option value="Christian Living">Christian Living</option>
              <option value="DT">DT</option>
              <option value="Fiction">Fiction</option>
              <option value="Reference">Reference</option>
           </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="price">Price</label>
            <textarea rows="1" class="form-control" name="price" placeholder="Ex. 13.00 or 3.00"></textarea>
        </div>
        <div class="form-group mx-sm-3 mb-2">
           <label for="inventory">Current Inventory</label>
            <textarea rows="1" class="form-control" name="inventory" placeholder="Enter Qty in stock"></textarea>
         </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>


